@mixin bg($img, $position:0 0, $repeat: no-repeat) {
    background: {
        image: url($img);
        position: $position;
        repeat: $repeat;
    }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@function em ($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

