*{
  box-sizing: border-box;
}

body {
  font-size: #{$browser-context}px;
  font-family: 'Open Sans', sans-serif;
}

p{
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}
