
/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower


@import '../assets/scss/variables.scss';
@import '../assets/scss/mixin.scss';
@import '../assets/scss/reset.scss';

.main {
  width: 1171px;
  margin: 0px auto;
}

.sidebar {
  background: #f8f8f8;
  float: left;
  width: 219px
}

.list {
  font-size: em(14);
  padding: 11px 7px 11px 21px;
  text-transform: uppercase;
  border: 1px solid #e3e3e3;
  position: relative;
}

.list:first-child {
  border: 0px solid #fff;
}

.list:first-child:before {
  border: 0px solid #fff;
}

.list:before{
  content: " ";
  position: absolute;
  top: 0px;
  left: -6px;
  width: 110%;
  z-index: 999;
  border: 1px solid #fff;
}

.list-link {
  color: #c8c7c7;
  display: block;
}

.logo {
  width: 100%;
  height: 135px;
  @include bg('../assets/images/logo-hotmart.png');
  text-indent: -9999px;
  border-right: 1px solid #9d0000;
  border-left: 1px solid #9d0000;
}

.ico {
  width: 18px;
  height: 21px;
  display: inline-block;
  margin-right: 21px;
  padding-right: 20px;
  positioN: relative;
  top: 3px;
}

.i-market{
  @include bg('../assets/images/ico-market.png', center center);
}

.i-product{
  @include bg('../assets/images/ico-products.png', center center);
}


.i-sell{
  @include bg('../assets/images/ico-sell.png', center center);
}

.highlight-block{
  background: #f3f3f3;
  padding: 34px 0px 34px 18px;
  border-left: 18px solid #bdbdbd;
  display: block;
}

.tit-add-hot{
  color: #acacac;
  font-size: $font-normal-size;
}

.shortcut-link{

}

.i-ac-active{
  @include bg('../assets/images/ico-sell.png', center center);
}

.ac-open{
  background-position: 0 top;
}

.shortcut-link{
  @include bg('../assets/images/accordion.png', 0 bottom);
  padding-left: 38px;
}



@include placeholder {
  color: #6c6c6c;
}


.accordion li{
}

.active {
  padding: 11px 7px 11px 17px;
  border-left: solid 6px #cc0000;
  .list-link{
    color: #cc0000;
  }
  .ico{
    background-position: bottom;
  }
}

.container {
  max-width: 950px;
  width: 100%;
  padding-left: 50px;
  padding: 50px 0px 0px 50px;
  margin: 0px 0px 46px 0px;
  float: left;
}


.main-title-block{
  position: relative;
  border: 1px solid #e3e3e3;
}

.form-block{
  width: 251px;
  float: right;
  padding: 28px 0px 23px;
  margin-right: 7px;
}

.search{
  width: 170px;
  height: 33px;
  background: #f0f0f0;
  text-align: right;
  padding: 4.5px 10px 4.5px;
  color: #6c6c6c;
  border: 0;
  outline: 0;
  font-size: $font-small-size;
  float:left;
  transition: all 0.2s ease;
  &:focus{
    border: 1px solid #f0f0f0;
    background: #ccc;
  }
}



.bt-search{
  float: left;
}

.pipe{
  height: 33px;
  width: 1px;
  margin: 0px 7px;
  background: #eeeeee;
  display: block;
  float: left;
}

.delete{
  @include bg('../assets/images/bt-delete.gif');
  width: 33px;
  height: 33px;
  float: left;
}

.main-title{
  font-size: $font-medium-size;
  color: #373737;
  padding: 12.5px 0px;
}

.ico-title{
  float: left;
  width: 64px;
  top: 0px;
  left: 0;
  display: inline-block;
  height: 50px;
  padding-right: 14px;
}

.i-title{
  @include bg('../assets/images/tit-ico-message.png');
}

.messages-block{
  clear: both;
}

.message{
  border: 1px solid #e3e3e3;
  padding: 20px;
}

.message-text-block{
  display: inline-block;
  padding: 0px 0 0px 16px;
  margin: 15px 0px 15px 4px;
  border-left: 1px solid #e0e0e0;
  box-shadow: inset 1px 0 0px 0px #fff;
}

.message-box{
  background: #fbfbfb;
  width: 92%;
  margin-left: 8%;
  padding-left: 35px;
  position: relative;
}


.message-text {
  font-size: $font-normal-size;
  .name-message{
    color: #cc0000;
  }
}

.checkbox-container {
	width: 15px;
	height: 15px;
  left: -61px;
  top: 6px;
	position: absolute;

  input[type=checkbox] {
    visibility: hidden;
  }

  label {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #fcfcfc;
  }

  input[type=checkbox]:checked + label:after {
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 25px;
    left: 2px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }
}


.avatar{
  border: 10px #fbfbfb  solid;
  border-radius: 50%;
  height: 68px;
  position: absolute;
  left: -34px;
}

.number-container{
  width: 36px;
  height: 70px;
  display: inline-block;
  border-radius: 5px;
  background: #bdbdbd;
  position: relative;
  float: right;

  .number-circle{
    width: 28px;
    height: 28px;
    padding-top: 6px;
    border-radius: 50%;
    background: inherit;
    position: absolute;
    left: -14px;
    top: 21px;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }

  .number-arrow{
    width: 6px;
    height: 12px;
    @include bg('../assets/images/arrow.png');
    position: absolute;
    display: inline-block;
    top: 29px;
    left: 17px;
  }
}

.message-box {
  transition: all ease 2s;

  .number-container{
    transition: all ease 0.3s;
  }

  &:hover{
    background: #f4f4f4;
  }
  &:hover .number-container {
    background: #cc0000;
  }
}

.navigation {
  width: 105px;
  margin: 20px auto 0px auto;
}

.arrow{
  border-radius: 1px;
  background-color: #cc0000;
  height: 40px;
  width: 40px;
  padding: 9px 0px 0px 17px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}


.left-arrow{
  float: left;
}

.right-arrow{
  float: right;
}

.arrow:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 0;
  height: 0;
}

.right-arrow:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
}

.left-arrow:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
}


// injector
// endinjector
