<main class="main">
  <aside class="sidebar">
    <h1 class="logo">Hotmart</h1>
    <nav>
      <ul class="menu">
        <li class="list"><a href="" class="list-link"><i class="ico i-market"></i>Mercado</a></li>
        <li class="list"><a href="" class="list-link"><i class="ico i-product"></i>Produtos</a></li>
        <li class="list active"><a href="" class="list-link"><i class="ico i-sell"></i>Vendas</a></li>
        <li class="list"><a href="" class="list-link"><i class="ico i-market"></i>Compras</a></li>
      </ul>
    </nav>
    <nav>
      <div class="highlight-block">
        <h1 class="tit-add-hot">ADD HOT LINKS</h1>
      </div>
      <ul class="menu">
        <li class="list accordion">
          <a class="list-link shortcut-link" href="#">ATALHO1</a>
        </li>
        <li class="list accordion">
          <a class="list-link shortcut-link" href="#">ATALHO2</a>
        </li>
        <li class="list accordion">
          <a class="list-link shortcut-link" href="#">ATALHO3</a>
        </li>
        <li class="list accordion">
          <a class="list-link shortcut-link" href="#">ATALHO4</a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="container">
    <div class="main-title-block">
      <i class="ico-title i-title"></i>
      <h1 class="main-title">Mensagens</h1>
    </div>
    <div class="form-block">
      <form>
        <input value="" ng-model="searchText" class="search" placeholder="pesquisar">
        <input type="image" src="assets/images/bt-search.gif" class="bt-search">
      </form>
      <span class="pipe"></span>
      <a href="" class="delete"></a>
    </div>
    <section class="messages-block" ng-repeat="m in message.messagesArray | filter:searchText ">
      <article class="message">
        <div class="message-box">
          <div class="checkbox-container">
            <input type="checkbox" value="1" id="checkbox-label{{$index}}" name="" />
            <label for="checkbox-label{{$index}}"></label>
          </div>
          <img class="avatar" ng-src="{{ m.pic }}">
          <div class="message-text-block">
            <p class="message-text" >
            <span class="name-message">{{ m.name }}</span> •  {{ m.date | date:"MM/dd/yyyy  h:mm" }} <br>
              Olá, como vai, podemos convresar?
            </p>
          </div>
          <div class="number-container">
            <span class="number-circle">
              {{ m.number }}
            </span>
            <span class="number-arrow">
            </span>
          </div>
        </div>
      </article>
    </section>
    <nav class="navigation" ng-if="!searchText">
      <ul>
        <li ng-if="message.atualPage > 0" class="left-arrow arrow" ng-click="message.paginate(0)">
        </li>
        <li  ng-if="message.totalPage -1 > message.atualPage" class="right-arrow arrow" ng-click="message.paginate(1)">
        </li>
      </ul>
    </nav>
  </section>
</main>
